{% load static %}
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'js/custom.min.js' %}"></script>
<!--This page JavaScript -->
<!-- <script src="../dist/js/pages/dashboards/dashboard1.js"></script> -->
<!-- Charts js Files -->
<script src="{% static 'libs/flot/excanvas.js' %}"></script>
<script src="{% static 'libs/flot/jquery.flot.js' %}"></script>
<script src="{% static 'libs/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'libs/flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'libs/flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'libs/flot/jquery.flot.crosshair.js' %}"></script>
<script src="{% static 'libs/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'js/pages/chart/chart-page-init.js' %}"></script>
<script src="{% static 'extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
<script src="{% static 'extra-libs/multicheck/jquery.multicheck.js' %}"></script>
<script src="{% static 'extra-libs/DataTables/datatables.min.js' %}"></script>
<script src="{% static 'libs/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  /****************************************
   *       Basic Table                   *
   ****************************************/
  $("#zero_config").DataTable();
  $(".select2").select2();
</script>
<script src="{% static 'js/functions.js' %}"></script>