{% load widget_tweaks %}
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Attribution d'équipement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="{% url 'equipements:store_attribution' %}" method="post"  id="form" enctype="multipart/form-data" novalidate>
             {% csrf_token %}
              <div class="form-group">
                  <label>Date d'attribution</label>
                  {% render_field form.date_attribution type="date" class="form-control" %}
                  <span class="code_error text-danger"></span>
              </div> 
              <div class="form-group">
                  <label>Employé</label>
                  <select class="select2 form-select shadow-none" name="employe" style="width: 100%; height: 36px">
                        {% for employe in employes %}
                            <option value="{{employe.id}}">{{employe.nom}} {{employe.prenom}} </option>
                        {% endfor %}
                      
                  </select>
                  <input type="hidden" name="equipement" value="{{materiel.id}}" >
                  <span class="code_error text-danger"></span>
              </div> 

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-success">ATTRIBUER</button>
              </div>
         
      </div>
   
  </form>
    </div>
  </div>

