{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block breadcumbs %}
    <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">MISSIONS</h4>
            </div>
          </div>
        </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
 <div class="row">
    <div class="col-12"> 
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Listes des missions</h5>

        {% if messages %}
        <div class="alert alert-success text-center alert-dismissible " role="alert">
            
            <ul class="messages">
                {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            
        </div>
        {% endif %}


      <div class="table-responsive">
        <a href="{% url 'gestions:ajout_mission' %}" class="btn btn-primary" style="float: right; margin-right: 20px;" > Ajouter </a>
        <table id="zero_config" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th style="max-width: 100px;">Ordre à </th>
              <th style="max-width: 100px;">OBJET </th>
              <th style="max-width: 100px;">LOCALITE</th>
              <th style="max-width: 100px;">MOYEN DE TRANSPORT</th>
              <th style="max-width: 100px;">ETAT</th>
              <th style="max-width: 100px;">DATE DE DEPART</th>
              <th style="max-width: 100px;">DUREE DE MISSION</th>
              <th style="max-width: 100px;">PROJET</th>
              <th style="max-width: 100px;">ACTION</th>
            </tr>
          </thead>
          <tbody>
            {% for mission in missions %}
            <tr {% if mission.date_retour < today and mission.etat_mission == "EN COURS" %} style="background-color: #fce3e3;" {% endif %}  >
                <td>{{mission.employe.nom}} {{mission.employe.prenom}}</td>
                <td>{{mission.objet}}</td>
                <td>{{mission.localite}}</td>
                <td>{{mission.moyentransport}}</td>
                <td>{{mission.etat_mission}}</td>
                <td>{{mission.date_depart}}</td>
                <td>{{mission.diff }} jour(s)</td>
                <td>{{mission.projet}}</td>
                <td>    
                        <a href="{% url 'gestions:edit_mission' mission.id %}" class="btn btn-primary btn-sm" >Voir </a>
                    {% if mission.etat_mission == 'EN COURS' %}
                        <a  onclick="termine_mission('{% url 'gestions:finir_mission' mission.id %}')" class="btn btn-danger btn-sm">Terminer </a>
                    {% endif %}
                    
                </td>
              </tr>
            {% endfor %}


          </tfoot>
        </table>
      </div>
    </div>
  </div>

  </div>
  </div>
  </div>
{% endblock %}
