{% extends 'base.html' %}
{% load widget_tweaks %}

{% block breadcumbs %}
    <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">ENREGISTRER UN EMPLOYE</h4>
            </div>
          </div>
        </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
       <div class="col-12"> 
        <div class="card">
            <div class="card-body">
                      <div class="card">
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                          <div class="card-body">
                            <h4 class="card-title">FORMULAIRE </h4>
                            {% for message in messages %}
                            <p id="messages" style="color: red;">{{message}}</p>
                        {% endfor %}
                            <div class="form-group row">
                              <label
                                for="fname"
                                class="col-sm-3 text-end control-label col-form-label"
                                >Nom</label
                              >
                              <div class="col-sm-9">
                                {% render_field form.nom type="text" class="form-control" %}
                              </div>
                            </div>
                            <div class="form-group row">
                              <label
                                for="lname"
                                class="col-sm-3 text-end control-label col-form-label"
                                >Prénom</label
                              >
                              <div class="col-sm-9">
                                {% render_field form.prenom type="text" class="form-control" %}
                              </div>
                            </div>
                            <div class="form-group row">
                              <label
                                for="lname"
                                class="col-sm-3 text-end control-label col-form-label"
                                >Fonction</label
                              >
                              <div class="col-sm-9">
                                {% render_field form.fonction type="text" class="form-control" %}
                              </div>
                            </div>
                            <div class="form-group row">
                              <label
                                for="email1"
                                class="col-sm-3 text-end control-label col-form-label"
                                >Email</label
                              >
                              <div class="col-sm-9">
                                {% render_field form.email type="text" class="form-control" %}
                              </div>
                            </div>
                            <div class="form-group row">
                              <label
                                for="cono1"
                                class="col-sm-3 text-end control-label col-form-label"
                                >Matricule</label
                              >
                              
                              <div class="col-sm-9">
                                {% render_field form.matricule type="text" class="form-control" %}
                              </div>
                            </div>
                            <div class="form-group row">
                              <label
                                for="cono1"
                                class="col-sm-3 text-end control-label col-form-label"
                                >Contact</label
                              >
                              <div class="col-sm-9">
                                {% render_field form.contact type="text" class="form-control" %}
                              </div>
                            </div>
                            <div class="form-group row">
                              <label
                                for="cono1"
                                class="col-sm-3 text-end control-label col-form-label"
                                >Etat</label
                              >
                              <div class="col-sm-9">
                                {% render_field form.etat type="text" class="form-control" %}
                              </div>
                            </div>
                          </div>
                        
                      </div>
                    </div>  
                    <div class="border-top">
                        <div class="card-body">
                          <button type="submit" class="btn btn-primary form-control">
                            Valider
                          </button>
                        </div>
                    </div>
                </form>
                </div>
      
    </div>
</div>
</div>

{% endblock %}
